// Example Stylus file
//
//body, html
//  height 100%
//
//body
//  font normal 1em sans-serif
//

*
  padding: 0
  margin: 0

html,body
  height: 100%

body
  font-size: 16px
  line-height: 1.5
  background: #eee
  color: #333

body,input
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

input
  font-size: 100%

h3
  font-weight: bold
  text-decoration: underline
  font-size: 120%
  padding: 8px 6px
  text-align: center

#main-pane,#side-pane,#bottom-pane
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  overflow: hidden

#main-pane
  top: 45px
  bottom: 0
  left: 220px
  overflow: auto

#side-pane
  width: 200px
  right: auto
  overflow: auto
  background: #ddd
  border-right: 1px solid #999

#categories .category
  padding: 3px 6px

#categories .selected
  padding: 2px 6px
  background: #9be
  font-weight: bold

table.tablesorter
  font-size: 12px
  background-color: #4D4D4D
  width: 1024px
  border: 1px solid #000

table.tablesorter th
  text-align: left
  padding: 5px
  color: #FFF
  background-color: #6E6E6E

table.tablesorter td
  color: #FFF
  padding: 5px

table.tablesorter .even
  background-color: #6E6E6E

table.tablesorter .odd
  background-color: #8F8F8F

table.tablesorter .header
  background-image: url(bg.png)
  background-repeat: no-repeat
  border-left: 1px solid #FFF
  border-right: 1px solid #000
  border-top: 1px solid #FFF
  padding-left: 30px
  padding-top: 8px
  height: auto

table.tablesorter .headerSortUp
  background-image: url(asc.png)
  background-repeat: no-repeat

table.tablesorter .headerSortDown
  background-image: url(desc.png)
  background-repeat: no-repeat

div.tablesorterPager
  padding: 10px 0 10px 0
  background-color: #D6D2C2
  text-align: center

div.tablesorterPager span
  padding: 0 5px 0 5px

div.tablesorterPager input.prev
  width: auto
  margin-right: 10px

div.tablesorterPager input.next
  width: auto
  margin-left: 10px

div.tablesorterPager input
  font-size: 8px
  width: 50px
  border: 1px solid #330000
  text-align: center


